{%  extends 'STAFF/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>ATTENDENCE EDIT</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="/editattendencebutton/{{ data.id }}">
    {% csrf_token %}
  <table width="341" border="1" class="table table-bordered">


    <tr>
      <th scope="row">ATTENDENCE</th>
      <td><label for="select1"></label>
        <select name="select1" id="select1">
            <option>present</option>
        <option>absent</option></select>
      </td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="ADD" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}