{%  extends 'STAFF/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>CHANGE PASSWORD</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="/chaangepasswordstbutton">
    {% csrf_token %}
  <table width="412" border="1" class="table table-bordered">
    <tr>
      <th width="182" height="28" scope="row"><font color="white">PASSWORD</font> </th>
      <td width="214"><label for="textfield"></label>
      <input type="password" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <th scope="row"><font color="white">CHANGE PASSWORD</font> </th>
      <td><label for="textfield2"></label>
      <input type="password" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <th scope="row"><font color="white">CONFIRM PASSWORD</font> </th>
      <td><label for="textfield3"></label>
      <input type="password" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"> <button type="submit" id="form-submit" class="button">SEARCH</button></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}