<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1" class="table table-bordered">
    <tr>
      <th scope="row"><a href="allocacatedsubjects">VIEW ALLOCATED SUBJECTS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewstudents">VIEW STUDENTS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewtimetables">VIEW TIMETABLE</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="/viewstudents">ADD ATTENDENCE</a></th>
    </tr>
     <tr>
      <th scope="row"><a href="sviewattendence">VIEW ATTENDENCE</a></th>
     </tr>
     <tr>
      <th scope="row"><a href="viewstudentsmark">ADD MARK</a></th>
     </tr>
    <tr>
     <th scope="row"><a href="viewmarks">VIEW MARK</a></th></tr>

    <tr>
      <th scope="row"><a href="vieweventsst">VIEW EVENTS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="viewnotistaff">VIEW NOTIFICATIONS</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="externalmarkuniv">SEM RESULTS</a></th>
    </tr>
      <tr>
      <th scope="row"><a href="viewexternal">VIEW SEM RESULTS</a></th>
    </tr>
    <tr>
      <th scope="row"><a href="chaangepasswordst">CHANGE PASSWORD</a></th>
    </tr>
  </table>
</form>
</body>
</html>
