<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="463" border="1">
  <tr>
    <th scope="row">EXAM TYPE</th>
      <th scope="row">OUT OF</th>
      <td>MARK OBTAINED</td>
    </tr>
    <tr>
      <th width="146" scope="row">1ST INTERNAL</th>
      <th width="144" scope="row"><label for="textfield6"></label>
      <input type="text" name="textfield6" id="textfield6" /></th>
      <td width="151"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <th scope="row">2ND INTERNAL </th>
      <th scope="row"><label for="textfield7"></label>
      <input type="text" name="textfield7" id="textfield7" /></th>
      <td><label for="textfield2"></label>
      <input type="text" name="textfield2" id="textfield2" /></td>
    </tr>
    <tr>
      <th scope="row">3RD INTERNAL</th>
      <th scope="row"><label for="textfield8"></label>
      <input type="text" name="textfield8" id="textfield8" /></th>
      <td><label for="textfield3"></label>
      <input type="text" name="textfield3" id="textfield3" /></td>
    </tr>
    <tr>
      <th scope="row">MODEL</th>
      <th scope="row"><label for="textfield9"></label>
      <input type="text" name="textfield9" id="textfield9" /></th>
      <td><label for="textfield4"></label>
      <input type="text" name="textfield4" id="textfield4" /></td>
    </tr>
    <tr>
      <th scope="row">INTERNAL MARK</th>
      <th scope="row"><label for="textfield10"></label>
      <input type="text" name="textfield10" id="textfield10" /></th>
      <td><label for="textfield5"></label>
      <input type="text" name="textfield5" id="textfield5" /></td>
    </tr>
    <tr>
      <th colspan="3" scope="row"><input type="submit" name="button" id="button" value="ADD" /></th>
    </tr>
  </table>
</form>
</body>
</html>
