{%  extends 'STAFF/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>MATERIAL MANAGEMENT</b></h1></u></font></center><br/>
<form action="/materialmanagementbutton/{{ id }}" method="post" enctype="multipart/form-data" name="form1" id="form1">
    {% csrf_token %}
  <table width="294" border="1" class="table table-bordered">
    <tr>
      <th width="173" scope="row">TITLE</th>
      <td width="105"><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
    </tr>
    <tr>
      <th scope="row">FILE</th>
      <td><label for="fileField"></label>
      <input type="file" name="fileField" id="fileField" /></td>
    </tr>

    <tr>
      <th colspan="2" scope="row"> <button type="submit" id="form-submit" class="button">ADD</button></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}