<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/staffmanagement">ADD STAFF</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewstaff">VIEW STAFF</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/studentmanagement">ADD STUDENT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewstudent">VIEW STUDENT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/subjectmanagement">ADD SUBJECT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewsubject">VIEW SUBJECT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/subjectallocation">ADD SUBJECT ALLOCATION TO STAFF</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewsubjectallocation">VIEW SUBJECT ALLOCATION</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewattendence">VIEW ATTENDENCE</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewmark">VIEW MARKS</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/parentmanagement">ADD PARENT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewparent">VIEW PARENT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/parentallocation">ADD PARENT ALLOCATION TO STUDENT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewpallocation">VIEW PARENT ALLOCATION</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/eventmanagement">ADD EVENT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewevents">VIEW EVENT</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/timetablemanagement">ADD TIME TABLE</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewtimetable">VIEW TIME TABLE</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/notificationmanagement">ADD NOTIFICATION</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewnotification">VIEW NOTIFICATION</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/viewcomplaints">VIEW COMPLAINTS  AND REPLY</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/chaangepassword">CHANGE PASSWORD</a></th>
  </tr>
</table>
</body>
</html>
