<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="1267" border="1">
    <tr>
      <th width="30" scope="col">#</th>
      <th width="106" scope="col">STUDENT NAME</th>
      <th width="68" scope="col">YEAR</th>
      <th width="68" scope="col">SEMESTER</th>
      <th width="68" scope="col">DATE OF BIRTH</th>
      <th width="68" scope="col">ADMISSION NO:</th>
      <th width="68" scope="col">REGISTER NO:</th>
      <th width="68" scope="col">PHONE NO:</th>
      <th width="68" scope="col">PHOTO</th>
      <th width="68" scope="col">EMAIL ID</th>
      <th width="68" scope="col">HOUSE NAME</th>
      <th width="68" scope="col">PLACE</th>
      <th width="69" scope="col">POST OFFICE</th>
      <th width="69" scope="col">PINCODE</th>
      <th width="69" scope="col">GUARDIAN NAME</th>
      <th width="69" scope="col">PHONE NO:</th>
      <th width="69" scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}



    <tr>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.studentname }}</td>
      <td>&nbsp;{{ i.year }}</td>
      <td>&nbsp;{{ i.semester }}</td>
      <td>&nbsp;{{ i.dateofbirth }}</td>
      <td>&nbsp;{{ i.admissionno }}</td>
      <td>&nbsp;{{ i.registerno }}</td>
      <td>&nbsp;{{ i.phoneno }}</td>
      <td>&nbsp;<img src="{{ i.photo }}" height="100" width="100" alt=""/></td>
      <td>&nbsp;{{ i.emailid }}</td>
      <td>&nbsp;{{ i.housename }}</td>
      <td>&nbsp;{{ i.place }}</td>
      <td>&nbsp;{{ i.postoffice }}</td>
      <td>&nbsp;{{ i.pincode }}</td>
      <td>&nbsp;{{ i.guardianname }}</td>
      <td>&nbsp;{{ i.phonenumber }}</td>
      <td><p><a href="/editstud/{{ i.id }}">EDIT</a></p>
      <p><a href="/deletestudent/{{ i.id }}">DELETE</a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
