{%  extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>ADD NOTIFICATIONS</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="/notificationmanagementbutton">
    {% csrf_token %}
  <table width="398" border="1" class="table table-bordered">
    <tr>
      <th scope="row">TITLE</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" required/></td>
    </tr>
    <tr>
      <th scope="row">DISCRIPITION</th>
      <td><label for="textarea"></label>
      <textarea name="textarea" id="textarea" cols="45" rows="5" required></textarea></td>
    </tr>
       <tr>
          <th scope="row">LINK</th>
          <td><label for="textfield3"></label>
              <input type="text" name="textfield3" id="textfield3" required />
          </td>
      </tr>
    <tr>
      <th colspan="2" scope="row"> <button type="submit" id="form-submit" class="button">ADD</button></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
