{%  extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>PARENT ALLOCATION</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="/parentallocationbutton/{{ i }}">
    {% csrf_token %}

<table width="200" border="1" class="table table-bordered">

    <tr>
      <th width="8" scope="col">#</th>
      <th width="81" scope="col">PARENT NAME</th>
      <th width="112" scope="col">PARENT PHONE NO:</th>
      <th width="109" scope="col">EMAIL ID</th>
      <th width="72" scope="col">&nbsp;</th>
    </tr>
      {% for i in p %}



    <tr>
        <td><font color="white">{{ forloop.counter }}</font></td>
        <td>&nbsp;<font color="white">{{ i.parentname }}</font></td>
        <td>&nbsp;<font color="white">{{  i.phoneno}}</font></td>
        <td><font color="white">{{  i.emailid }}</font></td>
        <td><p><a href="/parentallocationbutton/{{ ij }}/{{ i.id }}"><font color="#adff2f" class="btn btn-success" style="width: 100%">ALLOCATE</font></a></p></td>
    </tr>
      {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}
