{%  extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>EDIT SUBJECT ALLOCATION</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="/subjectallocationeditbutton/{{ data.id }}">
    {% csrf_token %}

  <table width="250" border="1" class="table table-bordered">
    <tr>
      <th width="167" scope="row">STAFF</th>
      <td width="67"><label for="select"></label>
          <select name="select" id="select" required><option value="{{ data.STAFF }}"></option>
      </select></td>
    </tr>
     <tr>
      <th scope="row">YEAR</th>
      <td><label for="textfield2"></label>
      <select name="textfield2" id="textfield2" required class="form-control">
          {% for foo in x %}
          <option {% if foo == data.year %} selected {% endif %}>{{ foo }}</option>
          {% endfor %}

      </select>
      </td>
    <tr>
      <th scope="row">SEMESTER</th>
      <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" value="{{ data.semester }}" required /></td>
    </tr>
    <tr>
      <th scope="row">SUBJECT</th>
      <td><label for="select2"></label>
        <select name="select2" id="select2"><option value="{{ data.SUBJECT }}" required></option>
      </select></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="ADD" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}