{%  extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>TUTOR ALLOCATION</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="/tutorallobutton">
     {% csrf_token %}

  <table width="311" border="1">
    <tr>
      <th width="147" scope="row">YEAR</th>
      <td width="148"><label for="select"></label>
        <select name="select" id="select">
        <option value="" >
          choose year
      </option>
            {% for foo in x %}
      <option>{{ foo }}</option>
      {% endfor %}
      </select></td>
    </tr>
    <tr>
      <th scope="row">STAFF</th>
      <td><label for="select2"></label>
        <select name="select2" id="select2">
        <option value="" >
          choose staff
      </option>
            {% for i in st %}
                <option value="{{ i.id }}">{{ i.staffname }}</option>

            {% endfor %}

      </select></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="button" id="button" value="ADD" /></th>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}