{%  extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>SUBJECT

    DETAILS</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-bordered">
    <tr>
      <th width="43" scope="col">#</th>
      <th width="133" scope="col">SUBJECT NAME</th>
      <th width="118" scope="col">SUBJECT CODE</th>
      <th width="133" scope="col">SUBJECT SYLLABUS</th>
      <th width="116" scope="col">SEMESTER</th>
      <th width="116" scope="col">&nbsp;</th>
    </tr>
      {% for i in data %}



    <tr>
        <td><font color="white">{{ forloop.counter }}</font></td>
        <td>&nbsp;<font color="white">{{ i.subjectname }}</font></td>
        <td>&nbsp;<font color="white">{{ i.subjectcode }}</font></td>
        <td>&nbsp;<font color="white"><a href="{{ i.subjectsyllubus }}">View</a> </font></td>
        <td>&nbsp;<font color="white">{{ i.semester }}</font></td>
        <td><p><a href="/editsub/{{ i.id }}"><font color="#adff2f" class="btn btn-success" style="width: 100%">EDIT</font></a></p>
            <p><a href="/deletesub/{{ i.id }}" onclick="return confirm('Are you sure to delete?')"><font color="#adff2f" class="btn btn-danger">DELETE</font></a></p></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}