{%  extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>SEM RESULTS</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="">
  <table width="367" border="1">
  <tr>
    <th width="14" scope="col">#</th>
    <th width="90" scope="col"> SEMESTER</th>
    <th width="86" scope="col"> TYPE</th>
    <th width="86" scope="col">FILE</th>
    <th width="56" scope="col">&nbsp;</th>
  </tr>
      {% for i in data %}
  <tr>
      <td>&nbsp;<font color="white">{{ forloop.counter }}</font></td>
      <td>&nbsp;<font color="white">{{ i.semester }}</font></td>
      <td><font color="white">&nbsp;{{ i.type }}</font></td>
    <td><font color="white"><a href="{{ i.file }}">CLICK HERE</a></font></td>


  </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}
