{%  extends 'admin/index.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
    <style>
          th{
              color: white;
          }
      </style>
</head>

<body>
<center><font color="#ffd700" ><u><h1><b>ATTENDENCE</b></h1></u></font></center><br/>
<form id="form1" name="form1" method="post" action="/searchattend#log">
{% csrf_token %}
 <table class="table table-bordered">
  <tr><th>Choose year</th>
        <td><select name="select" id="select">
            {% for foo in x %}
          <option>{{ foo }}</option>
          {% endfor %}

        </select></td>
  <th>Choose semester</th>
        <td><select name="select1" id="select1">
            <option value="" >
          choose semester
      </option>
            <option>1ST SEMESTER</option>
          <option>2ND SEMESTER</option>
          <option>3RD SEMESTER</option>
          <option>4TH SEMESTER</option>
          <option>5TH SEMESTER</option>
          <option>6TH SEMESTER</option>
        </select></td></tr>
    <tr>
        <tr>
        <th></th>
        <th>
                    <button type="submit" id="form-submit" class="button">SEARCH</button>
                  </th>
    </tr>
 <tr>
      <th width="8" scope="col">#</th>
      <th width="76" scope="col">STUDENT</th>
      <th width="72" scope="col">HOUR</th>
      <th width="72" scope="col">SUBJECT</th>
      <th width="51" scope="col">ALLOCATION</th>
      <th width="51" scope="col">ATTENDENCE</th>
    </tr>
      {% for i in data %}



    <tr>
      <td>&nbsp;<font color="white">{{ forloop.counter }}</font> </td>
      <td>&nbsp;<font color="white">{{ i.STUDENT.studentname }}</font> </td>
      <td>&nbsp;<font color="white">{{ i.hour }}</font> </td>
      <td>&nbsp;<font color="white">{{ i.SALLOCATION.SUBJECT.subjectname }}</font> </td>
      <td>&nbsp;<font color="white">{{ i.SALLOCATION.STAFF.staffname }}</font> </td>
      <td><font color="white">{{ i.attend }}</font> </td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
{% endblock %}